html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,
label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,
header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,
video{
    margin:0;
    padding:0;
    border:0;
    font:inherit;
    font-size:100%;
    vertical-align:baseline;
}

html{
    line-height:1;
}

ol,ul{
    list-style:none;
}

table{
    border-collapse:collapse;
    border-spacing:0;
}

caption,th,td{
    text-align:left;
    font-weight:normal;
    vertical-align:middle;
}

q,blockquote{
    quotes:none;
}

q:before,q:after,blockquote:before,blockquote:after{
    content:"";
    content:none;
}

a img{
    border:none;
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{
    display:block;
}

html,body{
    font-family:'Roboto', sans-serif;
    background-image:url("../img/brickwall.png");
    text-align:center;
}

#container{
    display:inline-block;
    position:relative;
    width:550px;
    margin-top:100px;
    background-color:white;
    border-radius:4px;
    box-shadow:0px 2px 4px rgba(0,0,0,0.2),0px 25px 50px rgba(0,0,0,0.1);
    border-top:1px solid rgba(0,0,0,0.15);
}

#container:before{
    content:'';
    position:absolute;
    width:98%;
    height:100%;
    left:1%;
    bottom:-6px;
    background-color:white;
    z-index:-1;
    box-shadow:0px 2px 4px rgba(0,0,0,0.2),0px 25px 50px rgba(0,0,0,0.1);
    border-radius:4px;
}

#container:after{
    content:'';
    position:absolute;
    width:96%;
    height:100%;
    left:2%;
    bottom:-12px;
    background-color:white;
    z-index:-2;
    box-shadow:0px 1px 2px rgba(0,0,0,0.2),0px 12.5px 25px rgba(0,0,0,0.1);
    border-radius:4px;
}

#container form{
    width:100%;
    position:relative;
    float:left;
    display:block;
}

#container form input{
    width:100%;
    display:block;
    float:left;
    padding:0;
    margin:0;
    border:0;
    padding:26px 20px;
    box-sizing:border-box;
    font-size:24px;
    font-family:'Roboto', sans-serif;
    font-weight:100;
    background-color:rgba(0,0,0,0.03);border-top:1px solid white;
    opacity:0.25;outline:0;
}

#container form input:focus{
    opacity:1;
    background-color:rgba(0,0,0,0.008);
}

#todo-list{
    width:100%;
    float:left;
    display:block;
    box-shadow:0px -3px 3px rgba(0,0,0,0.065);
    text-align:left;
}

#todo-list li{
    display:block;
    width:inherit;
    float:left;
    padding:18px 10px;
    box-sizing:border-box;
    border-bottom:1px solid rgba(0,0,0,0.075);
}

#todo-list li:last-of-type{
    border-bottom:0;
}

#todo-list li div:first-of-type {
    width:40px;
    display:block;
    float:left;
    height:100%;
}

#todo-list li div:first-of-type span{
    width:24px;
    height:24px;
    display:block;
    margin:0 auto;
    position:relative;
    border:1px solid rgba(0,0,0,0.1);
    border-radius:50%;
    cursor:pointer;
}

#todo-list li p{
    display:block;
    float:left;
    width:458px;
    font-size:20px;
    font-weight:100;
    color:rgba(0,0,0,0.5);
    padding:3px 6px;
    box-sizing:border-box}

#todo-list li .importance{
    display:block;
    width:32px;
    float:left;
    text-align:center;
    font-weight:300;
    font-size:20px;
    padding:3px 6px;
    box-sizing:border-box;
}

#todo-list li .importance.low{
    color:#3cba54;}

#todo-list li .importance.middle{
    color:#f4c20d;}

#todo-list li .importance.high{
    color:#db3236;
}

#todo-list li a{
    color:rgba(0,0,0,0.2);
    text-decoration:none;
    text-align:center;
    font-weight:300;
    font-size:14px;
    float:left;
    width:24px;
    height:24px;
    display:block;
    border:1px solid rgba(0,0,0,0.2);
    border-radius:50%;
    line-height:20px;
    vertical-align:middle;
    display:none;
    box-sizing:border-box;
}

#todo-list li:hover a{
    display:block;
}

#todo-list li:hover p{
    width:434px;
}

#todo-list li.done:hover p{
    width:458px;
}

#todo-list li.done p{
    text-decoration:line-through;
    color:rgba(0,0,0,0.25);
}

#todo-list li.done .importance{
    display:none;
}

#todo-list li.done div:first-of-type>span{
    border-color:#3cba54;
    opacity:0.5;}

#todo-list li.done div:first-of-type>span:after{
    content:'';
    width:6px;
    height:6px;
    position:absolute;
    top:9px;
    left:9px;
    background-color:#3cba54;
    border-radius:50%;
}

#title-start-message {
    font-size:24px;
    font-family:'Roboto', sans-serif;
    font-weight:bold;
    background-color:rgba(0,0,0,0.03);
    border-top:1px solid white;
    line-height: 1.25;
    text-align: left;
    padding: 1.0rem;
}

#text-start-message {
    font-size:16px;
    font-family:'Roboto', sans-serif;
    font-weight:100;
    background-color:rgba(0,0,0,0.03);
    border-top:1px solid white;
    line-height: 1.25;
    text-align: left;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: 1.0rem;
}

button.button{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: #fff;
    background-color: #0065ff;
    border-color: #0065ff;
    font-family:'Roboto', sans-serif;
    font-size:20px;
    border-radius: 6px;
}

#button-container{
    padding-bottom: 0.5rem;
}
